.btn-custom-class {
  color: #fff;
  background-color: #FDAE18;
  border-color: #FDAE18;
  border-radius: 10px;
  border-width: 2px
}

.btn-custom-class:hover {
  color: #fff;
  background-color: #3AA8CC !important;
  border-color: #3AA8CC !important;
  border-radius: 10px;
  border-width: 2px
}

.btn-custom-class:active {
  color: #fff;
  background-color: #3AA8CC !important;
  border-color: #3AA8CC !important;
  border-radius: 10px;
  border-width: 2px
}

