// source: https://raw.githubusercontent.com/apreshill/palmerpenguins-useR-2022/main/pp.scss

// Include theme-specific fonts

/*-- scss:defaults --*/
// Override theme settings (see ../template/settings.scss)
// Base settings for all themes that can optionally be
// overridden by the super-theme


/*-- scss:defaults --*/
$theme-ghr-blue: #1f9ac9;

$theme-ucb-blue: #014B99;
$theme-ucb-purple: #040299;
$theme-ucb-aqua: #029699;
$theme-ucb-brown: #995002;

$theme-darkblue: #01364C;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-charcoal: #524e4e;
$theme-dukeblue: #00529b;
$theme-orange: #e69138;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Background of the presentation
$backgroundColor: #fcfbf9;

// Primary/body text
$mainFont: 'Libre Franklin', sans-serif;
$mainFontWeight: 200;
$mainFontSize: 35px;
$mainColor: $theme-charcoal;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Source Sans Pro', sans-serif;
$headingColor: $theme-ucb-blue;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: bold;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.00em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

$codeFont: monospace;

// Links and actions
$linkColor: $theme-ucb-blue;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// start using css here
#title-slide > h1 {
  color: $theme-charcoal;
  font-weight: '700';
}

#title-slide .author {
  color: $theme-ucb-blue;
}

#title-slide .subtitle {
  color: $theme-orange;
  font-size: 2em;
}

#title-slide {
  top: 0 !important;
}

#title-slide > .author:first-of-type {
  margin-top: 250px;
}

blockquote p {
  color: $theme-orange;
}

.reveal blockquote p {
  color: $theme-orange;
}

.v-center-container {
  display: flex;
  align-items: center;
  height: 100%;
}
